{% extends "layout.html.twig" %}
{% block body %}

<header class="my-8">
    <div class="relative max-w-xl mx-auto">
        {% include 'components/searchbar/_searchBar.html.twig' %}
        {% include 'components/dropdown/_dropdown.html.twig' %}
    </div>
</header>

<main>
    
</main>

{% endblock %}